<html>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<title th:text="#{addABook}"></title>




<div class="form-container">
    <h1 th:text="#{addABook}"></h1>
    <form th:action="@{/book/addBook}" th:object="${aBook}" method="post" class="form-flex">
        <div th:if="${#fields.hasGlobalErrors()}">
            <ul>
                <li style="color: red" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
            </ul>
        </div>
        <div class="form-row">
            <label th:text="#{title}"></label>
            <input type="text" id="title" th:field="*{title}" name="title" required>
            <span class="error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        </div>
        <div class="form-row">
            <label th:text="#{publisher}"></label>
            <input type="text" id="publisher" th:field="*{publisher}" name="publisher" required>
            <span class="error-message" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"></span>
        </div>
        <div class="form-row">
            <label th:text="#{publication_date}"></label>
            <input type="date" id="publicationDate" th:field="*{publicationDate}" name="publicationDate" required>
            <span class="error-message" th:if="${#fields.hasErrors('publicationDate')}" th:errors="*{publicationDate}"></span>
        </div>
        <div class="form-row">
            <label th:text="#{price}"></label>
            <input type="text" id="price" th:field="*{price}" name="price" required>
            <span class="error-message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        </div>
        <div class="form-row">
            <label th:text="#{ISBN}"></label>
            <input type="text" id="isbn" th:field="*{isbn}" name="isbn" required>
            <span class="error-message" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
        </div>
        <div class="form-row">
            <input type="submit" th:value="#{button.add}">
            <input type="reset" th:value="#{button.clear}">
        </div>
    </form>
</div>
<a href="javascript:history.back()" th:text="#{link.goBack}"></a>
</body>
</html>