<html>
<head>
    <title th:text="#{editABook}"></title>
</head>

<p th:text="#{editABook}"/></p>

<form th:action="@{/book/editBook}" th:object="${aBook}" method="post">
    <table>
        <tr>
            <td><label th:text="#{bookId}"></label></td>
            <td><input type="text" th:field="*{bookId}" name="bookId"  readonly="true"/></td>
            <td style="color:red"><span th:if="${#fields.hasErrors('bookId')}" th:errors="*{bookId}" /></td>
        </tr>
        <tr>
            <td><label th:text="#{title}"></label></td>
            <td><input type="text" th:field="*{title}" name="bookId"/></td>
            <td style="color:red"><span th:if="${#fields.hasErrors('bookId')}" th:errors="*{title}" /></td>
        </tr>
        <tr>
            <td><label th:text="#{publisher}"></label></td>
            <td><input type="text" th:field="*{publisher}" name="bookId"/></td>
            <td style="color:red"><span th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}" /></td>
        </tr>
        <tr>
            <td><label th:text="#{publication_date}"></label></td>
            <td><input type="text" th:field="*{publicationDate}" name="publicationDate"/></td>
            <td style="color:red"><span th:if="${#fields.hasErrors('publicationDate')}" th:errors="*{publicationDate}" /></td>
        </tr>
        <tr>
            <td><label th:text="#{price}"></label></td>
            <td> <input type="text" th:field="*{price}" name="price"/></td>
            <td style="color:red"><span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" /></td>
        </tr>
        <tr>
            <td><label th:text="#{ISBN}"></label></td>
            <td><input type="text" th:field="*{isbn}" name="price"/></td>
            <td style="color:red"><span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" /></td>
        </tr>
        <tr>
            <td><input type="submit" th:value="#{edit}"></td>
            <td><input type="reset" th:value="#{clear}"></td>
        </tr>
    </table>
</form>
</html>