<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>All Authors</title>
</head>
<body>
<table>
  <tr>
      <th>Author ID</th>
      <th>First Name</th>
      <th>First Name</th>
      <th>Year Born</th>
      <th>Actions</th>
  </tr>
  <tr th:each="a: ${allAuthors}">
      <td th:text="${a.authorID}"></td>
      <td th:text="${a.firstName}"></td>
      <td th:text="${a.lastName}"></td>
      <td th:text="${a.yearBorn}"></td>
      <td>
          <a href="/author/add" class="button add-button">Add</a>
          <a th:href="@{'/author/edit/' + ${a.authorID}}"  class="button edit-button">Edit</a>
          <a th:href="@{'/author/delete/' + ${a.authorID}}" class="button delete-button"
             onclick="return confirm('Are you sure you want to delete this book?')">Delete</a>
      </td>
  </tr>
  </c:forEach>
</table>

</body>
</html>